* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Futura-Bold;

}

html {
    background-color: #F7F7F7;
}

*::selection {
    color: white;
    background: #000;
}

@font-face {
    font-family: 'Futura-Bold';
    src: url('Futura-Bold.ttf') format('truetype');
}

html,
body {
    height: 100%;
    width: 100%;

}

.nav {
    position: fixed;
    /* background-color: grey; */
    /* height: 100px; */
    width: 100%;
    z-index: 1000;
    padding: 3vh 3vh;
    display: flex;
    justify-content: space-between;
}

.nav .logo{
    height: 82px;
    overflow: hidden;
}
.nav .logo svg{
    display: block;
}
.nav .lists{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5vh;
}

.nav .lists ul {
    display: flex;
    gap: 6vh;
    

}

.nav .lists ul li {
    cursor: pointer;
    list-style: none;
    font-family: Helvetica;
    font-size: 1.6vh;
    margin: 1vh 1.1vh;
    font-weight: 500;
    padding-bottom: 6px ;
}
.icons {
    display: flex;
    background-color: #F7F7F7;
    align-items: flex-start;
    gap: 10vh;
    padding: 1vh 3vh;
    border-radius: 10vh;
    /* margin-top: 0vh; */
    margin-bottom: 2vh;
    margin-right: 2vh;

}
.icons i{
    cursor: pointer;
    font-size: 2.6vh;
    font-weight:lighter;
}
.page1 {
    min-height: 100vh;
    width: 100%;
    padding: 0 3vh;
    padding-top: 13vw;
    position: relative;
}

.page1 h1 {
    font-size: 16vw;
    text-transform: uppercase;
    font-family: Futura-Bold;
    line-height: 14vw;
    letter-spacing: -9.8px;

}

.page1 .videoCont {

    width: 100%;
    margin-top: 2.5vh;
}

.videoCont video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play {
    background: #000;
    color: white;
    position: fixed;
    padding: 3.5vh 2.3vh;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    font-family: Futura-Bold;
}

.text {
    text-align: center;
    margin: 5vh 0vh;
    margin-top: 12vh;
    line-height: 8vh;
    gap: 10vh;
}

.text h1 {
    font-size: 7.8vh;
    font-family: Futura-Bold;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 3.8vh;
}

.text p {
    font-size: 2.05vh;
    font-family: Helvetica;
    letter-spacing: 0.01px;
    line-height: 4vh;
    gap: 2vh;
}

.text a {
    font-size: 1.5vh;
    font-family: Helvetica;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding-bottom: 8px;
    color: black;
    border-bottom: solid transparent 0.5px;
}

.underline-hover {
    position: relative;
}

.underline-hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    left: 0;
    bottom: 0;
    background: black;
    transition: 0.3s ease;
}

.underline-hover:hover::after {
    width: 100%;
}

.text2 {
    margin: 1vh 3vh;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 0.5px solid black;

}

.text2 p {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 1.7vh;
}


.page2 {

    min-height: 100vh;
    width: 100%;
    padding: 0 3vh;
    display: flex;
    justify-content: space-between;

}

.page2 .element {
    height: 98%;
    width: 32.5%;
}

#elem1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#elem2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#elem3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page2 .element {
    /* z-index: -9; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2 .element .desc {
    position: absolute;
    background: rgb(206, 200, 177);
    padding: 2vh 5vh;
    border-radius: 23px;
}

.page2 .element:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}

.subdesc {
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 7vh;
}

.subdesc .desc2 {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}

.subdesc .desc1 {
    font-family: Futura-Bold;
    font-weight: 100;
}

#a2 {
    background-color: #8AAAD6;
}

#a3 {
    background-color: #FFFFFF;
}

.element img{
    z-index: -1;
}

#page3 {
    min-height: 30vh;
    width: 100vw;
    padding: 5vh 3vh;
    display: flex;

}

#page3 .p3part1 {
    width: 67%;
}

#page3 .p3part2 p {
    font-size: 2.2vh;
    font-family: Helvetica;
    line-height: 25px;
    letter-spacing: 0.1px;
    gap: 2vh;
}

#page3 .p3part2 a {
    font-size: 1.6vh;
    font-family: Helvetica;
    letter-spacing: 1px;
    gap: 2vh;
    color: #000;
    font-weight: 100;
    text-decoration: none;
    padding-bottom: 8px;
}

#page3 .p3part1 h1 {
    font-size: 7.8vh;
    text-transform: uppercase;
    font-family: Futura-Bold;
    line-height: 7.8vh;
    letter-spacing: -0.6px;
}

#page4 {
    position: relative;
    margin-bottom: 15vh;
}

#page4 .comp {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.comp .subcomp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vh;
}

.comp .subcomp img {

    height: 100%;

    object-fit: cover;
}

.comp .subcomp p {
    font-size: 1.6vh;
    font-family: Helvetica;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 30px;
}

.price {
    letter-spacing: 0.5px;
}

#movecurs {
    height: 35vh;
    width: 35vh;
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    z-index: -1;
    transform: translate(50%, -50%);

}

.btmtxt2 {
    margin: 0vh 3vh;
    text-align: center;

}

.btmtxt2 h1 {
    font-size: 7.8vh;
    font-family: Futura-Bold;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 3.8vh;
    text-align: center;
    margin: 10vh 0vh;
}

.btmtxt2 button {
    font-size: 1.7vh;
    font-weight: 100;
    font-family: Helvetica;
    letter-spacing: 0.5px;
    line-height: 4vh;
    gap: 2vh;
    background-color: black;
    color: white;
    padding: 1.8vh 10vh;
    border-radius: 10vh;
    font-weight: bold;
}
.btmtxt2 p{
    font-size: 2.2vh;
    font-weight: 100;
    font-family: Helvetica;
    letter-spacing: 0.5px;
    line-height: 3vh;
    margin-top: 3vh;
    margin-bottom: 8vh;

}
.page5{
    height: 100vh;
    width: 100%;
    padding: 2vh 3vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5vh;
    overflow: hidden;
}
.impact{
    padding-right: 14vh;
}
.impact h1{
    font-size: 3.4vh;
}
.page5 p{
    font-size: 2.2vh;
    font-family: Helvetica;
    letter-spacing: 0.1px;
    line-height: 3vh;
    margin-top: 5vh;
    /* margin-bottom: 8vh; */
}
.impimg{
    height: 100%;
    width: 100%;
}
.impimg img{
    height: 100%;
    object-fit: cover;
}
.impact button{
    background: transparent;
    border: none;
    margin-top: 5vh;
    padding-bottom: 1vh;
    font-family: Helvetica;
    font-size: 1.5vh;
    letter-spacing: 0.2vh;
}
.footer{
    min-height: 100vh;
    padding: 0vh 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .connect p{
    font-family:  Helvetica;
    text-transform: uppercase;
    font-size: 1.6vh;
    margin-bottom: 3vh;
    letter-spacing: 0.1px;
    color: #616469;
    font-weight:100;
}
.footer .connect ul{
    list-style: none;
    

}
.footer .connect ul li{
    font-family: Helvetica,bold;
    font-size: 1.9vh;
    margin: 1vh 1.1vh;
    font-weight: 500;
    padding-bottom: 6px ;
    line-height: 1.5vh;
}
@media (max-width: 600px) {
    .nav .lists ul{
        display: none;
    }
    
    .page1 h1 {
        font-size: 14.5vw;
        line-height: 15vw;
        letter-spacing: -2px;
    }

    .page2 {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .page2 .element {
        width: 95%;
        margin-top: 0vh;
    }

    .page1 {
        min-height: 60vh;
    }

    .videoCont video {
        height: 100%;
        object-fit: cover;
    }

    #page3 {
        min-height: 100vh;
        width: 100vw;
        padding: 5vh 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;
        text-align: center;

    }

    #page4 {
        padding: 0vh 7vh;
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;
    }

    #page4 .comp {

        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;
    }

    #page4 .comp img {
        height: 88%;
    }



}